* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.body{
    display: block;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

p{
    margin-bottom: 0 !important;

}

.main-content {
    min-height: 80vh;
}

/* ++++++++++ INICIO HEADER +++++++++++++++ */
header {
    width: 100%;
    position: relative;
}

.activo {
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #228B22;
    border-radius: 20px;
}


/* ++++++++++ FIN HEADER +++++++++++++++ */

.info {
    background-color: white;
}

.contenedor{
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
    background-color: #654321;
    max-width: 60vh;
    text-align: center;
    margin: 0 auto;
}

.card-body {
    text-align: center;
    border: 2px;
    border-style: solid;
    border-color: rgb(23, 27, 23);
    padding: 0;
}

.card:hover .card-body {
    padding: 11px;
    transition: all 0.4s linear;
    font-size: 140%;
    transition-delay: 50ms;
}

.card-body a {
    padding: 0;
    color: white;
    text-decoration: none;
}

.image {
    height: 45vh;
    border: 2px;
    border-radius: 190px;
    border-style: solid;
    border-color: black;
}

.arbolSite {
    display: grid;
    place-content: center;
    margin: auto;
    width: 100%;
    height: auto;
}

.footer {
    display: flex;
    width: 100%;
    max-height: 10vh;
}

.contenidoFooter{
    text-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-left: 3rem;
}

.logoUade{
    max-width: 200px;
    max-height: 200px;
}


/* ++++++++++ INICIO 1. PRESENTACIÓN GENERAL DEL PROYECTO +++++++++++++++ */
.main-inicio-2 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seccion-avances {
    background-color: #F3F3F3;
    height: 90%;
    width: 90%;
    margin: 35px;
    border-radius: 20px;
    padding: 40px 80px;
    margin-top: -50px;
}

.seccion-avances h1 {
    text-align: center;
    color: #654321;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.seccion-avances p {
    color: #5E5E5E;
    font-size: 22.8px;
    text-align: justify;
    padding-right: 50px;
}

.div-avances2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seccion-avances2 {
    height: 90%;
    width: 90%;
    margin: 35px 0px;
    border-radius: 20px;
    padding: 40px 80px;
    position: relative;
    background-color: #F3F3F3;
}

.seccion-avances2 h1 {
    text-align: center;
    color: #654321;
    font-size: 40px;
    font-weight: 600;
}

.seccion-avances2 p {
    color: #654321;
    font-size: 22.8px;
    text-align: center;
}

/* ++++++++++ FIN 1. PRESENTACIÓN GENERAL DEL PROYECTO +++++++++++++++ */

/* ++++++++++ INICIO 2. PÚBLICO OBJETIVO +++++++++++++++ */
.detalles {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja-colores {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 750px;
    justify-content: space-around;
}

.colores1{
    display: flex;
    flex-direction: row;
    place-content: center;
}
.colores2{
    display: flex;
    flex-direction: row;
    place-content: center;
}

.clase-colores {
    margin: 1vh;
    height: 150px;
    width: 150px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

#color1 {
    background-color: #8B4513;
}

#color2 {
    background-color: #228B22;
}

#color3 {
    background-color: #654321;
}

#color4 {
    background-color: #87CEEB;
}

#color5 {
    background-color: #808080;
}

/* ++++++++++ FIN 2. PÚBLICO OBJETIVO +++++++++++++++ */

.main-index {
    display: flex;
    justify-content: center;
}

.section-index2 {
    background-color: #adadad;
    height: 500px;
    width: 800px;
    margin: 35px 0px;
    border-radius: 20px;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.box-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-column-gap: 80px;
    grid-row-gap: 50px;
    margin-bottom: 10px;
}
.box-container img {
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
}
.box-container a {
    background-color: #228B22;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    color: white;
    text-align: center;
    width: 30px;
    font-weight: 500;
}
.box1 {
    grid-row: 1;
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.box2 {
    grid-row: 1;
    grid-column: 2/2;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.box3 {
    grid-row: 2;
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.box4 {
    grid-row: 2;
    grid-column: 2/2;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}