* {
    font-family: Calibri, sans-serif;
    margin: 0px;
    padding: 0px;
    scroll-snap-type: y proximity;
}
nav {
    display: flex;
    position: fixed;
    width: 100%;
    padding-top: 25px;
}
.list {
    display: flex;
    width: 100%;
    padding: 0px;
    justify-content: center;
}
.listitem {
    padding: 8px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 1.51vh;
    background-color: #0468BF;
    color: #fff;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}
#info {
    background-color: #0468BF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-decoration: none;
    list-style: none;
}

.CVs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    height: 100vh;
    text-decoration: none;
    list-style: none;    
}

.CVs a{
    text-decoration: none;

}