* {
    font-family: Calibri, sans-serif;
    margin: 0px;
    padding: 0px;
    scroll-snap-type: y proximity;
}

nav {
    display: flex;
    position: fixed;
    width: 100%;
    padding-top: 25px;
}

.list {
    display: flex;
    width: 100%;
    padding: 0px;
    justify-content: center;
}

.listitem {
    padding: 8px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 1.51vh;
    background-color: #0468BF;
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}

#info {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.CVs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-decoration: none;
    list-style: none;

}

.card{
    margin-left: 5%;
}

.CVs a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;

}

.card-body{
    
    background-color: rgb(47, 41, 41, 0.803);
}

.card:hover {
    padding: 2px;
    transition: all 0.7s ease-in-out;
    transform: translatey(8%);
    transform: scale(115%);
    font-size: 140%;
    position:relative;
    transition-delay: 50ms;
    text-align: center;

}

.tituloCV {
    font-size: 83.5%;
}

